<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">收付账户管理</h1>
</div>
<div ng-class="{'wrapper-md':!isReferenceDialog}">
    <div class="panel panel-default m-b-none">
        <div class="panel-heading" ng-hide="isReferenceDialog">
            {{tableTitle}}
        </div>
        <div class="panel-body no-padder">
            <div class="row wrapper" ng-hide="isReferenceDialog">
                <div class="col-sm-4 m-b-xs">
                    <input id="filter" type="text" class="input-sm form-control w-sm inline m-r" placeholder="请输入关键字" ng-show="!isReferenceDialog">
                </div>
                <div class="col-sm-8 m-b-xs text-right ">
                    <a role="button" class="btn btn-sm btn-primary" data-toggle="modal" ng-click="edit('')" ng-show="!isReferenceDialog"> 添加 </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light m-b-none" >
                    <thead>
                        <th ng-show="isReferenceDialog">
                        </th>
                        <th>
                            开户名称
                        </th>
                        <th ng-show="!isReferenceDialog">
                            开户行地址
                        </th>
                        <th>
                            开户银行
                        </th>
                        <th>
                            银行账户
                        </th>
                        <th>
                            账户类型
                        </th>
                        <th >
                            默认账户
                        </th>
                        <th  ng-show="!isReferenceDialog">
                            操作
                        </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="payAccount in appointpayment.carDealer.payAccounts">
                        <td ng-show="isReferenceDialog">
                            <label class="i-checks m-b-none">
                                <input type="checkbox" data-ng-model="payAccount.selected"><i></i>
                            </label>
                        </td>
                        <td>{{payAccount.accountName}}</td>
                        <td>{{payAccount.bankName}}</td>
                        <td>{{payAccount.accountNumber}}</td>
                        <td ng-show="!isReferenceDialog">{{payAccount.bankAddress}}</td>
                        <td >{{payAccount.accountType|accountTypeFilter}}</td>
                        <td>{{payAccount.defaultAccount|onezero}}</td>
                        <td ng-show="!isReferenceDialog">
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a class="green" role="button" data-toggle="modal" ng-click="addPayAccount(payAccount,$index)">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="red" href ng-click="deleteAccount(payAccount,$index)">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="panel-footer" ng-show="!isReferenceDialog">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <ul class="pagination ng-isolate-scope ng-valid">当前页：{{currentPage}}，总计{{totalPages}}页</ul>
                </div>
                <div class="col-sm-8 text-right">
                    <pagination max-size="10" more="true" total-items="totalItems" boundary-links="true" first-text="首页" last-text="尾页"   ng-change="changePage()"  ng-model="currentPage" items-per-page="pageSize" total-items="totalItems"  previous-text="上一页" next-text="下一页"></pagination>
                </div>
            </div>
        </footer>
        <footer class="panel-footer text-right bg-light lter" ng-show="isReferenceDialog">
            <button class="btn btn-success" type="submit" ng-click="save()" >保  存</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取  消</button>
        </footer>
    </div>


    <script type="text/ng-template" id="accountedit.html">
        <div class="bg-light lter b-b wrapper-md">
            <h1 class="m-n font-thin h3">编辑账户信息</h1>
        </div>
        <div class="wrapper-md">
            <div > <!--ng-controller="FormCtrl"-->
                <div class="row">
                    <div class="col-sm-12">
                        <form name="forma" ng-submit="save()" class="form-horizontal form-validation">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong>编辑账户信息</strong>
                                </div>

                                <input type="hidden" ng-model="customer.id">

                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">账户号码</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="输入账户号码" ng-model="account.accountNumber" required >
                                        </div>
                                    </div>

                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">开户银行</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="输入开户银行" ng-model="account.bankName" required >
                                        </div>
                                    </div>

                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">开户地址</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" placeholder="输入账户开户地址" ng-model="account.bankAddress" required >
                                        </div>
                                    </div>

                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">账户类型</label>
                                        <div class="col-sm-9">
                                            <label class="checkbox-inline">
                                                <input type="radio" name="account.accountType" ng-model="account.accountType" value="0" checked>个人账户
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="radio" name="optionsRadiosinline" ng-model="account.accountType" value="1">公司账户
                                            </label>
                                        </div>
                                    </div>

                                    <div class="line line-dashed b-b line-lg pull-in"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">账户用途</label>
                                        <div class="col-sm-9">
                                            <label>
                                                <select class="form-control" ng-model="account.accountWay">
                                                    <option value="">-- 请选择 --</option>
                                                    <option value="0">收付款账户</option>
                                                    <option value="1">收款账户</option>
                                                    <option value="2">付款账户</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <footer class="panel-footer text-right bg-light lter">
                                    <button class="btn btn-primary" type="submit">OK</button>
                                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                                </footer>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </script>

</div>