
<button class="btn btn-primary" type="button" ng-click="showTemSignModal()" ng-show="canSign" ng-disabled="canAudit">{{buttonText}}</button>

<script type="text/ng-template" id="temSignForm.html">
	<div class="panel panel-default m-b-none" dw-loading="temSignInfo" dw-loading-options="{text: ''}">
		<div class="panel-heading">
			<button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
			<span class="h4">{{modalTitle}}</span>
		</div>
		<form name="userForm">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group pull-in clearfix" ng-if="buttonText == '资质审核' || buttonText == '签约审核'">
							<div class="col-sm-6">
								<label>首付比例调整</label>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="请输入首付比例" ng-model="temsigninfo.downPaymentRatio" name="downPaymentRatio"/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-default">%</button>
										</span>
								</div>
							</div>
							<div class="col-sm-6">
								<label>贷款金额调整</label>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="请输入贷款金额" ng-model="temsigninfo.creditAmount" name="creditAmount"/>
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"><i class="fa fa-jpy"></i></button>
										</span>
								</div>
							</div>
						</div>
						<div class="form-group pull-in clearfix">
							<div class="col-sm-12"  ng-if="tipComment != ''">
								<label>审批提示 </label>
								<textarea class="form-control" rows="6" data-ng-model="tipComment" name="tipComment" disabled></textarea>
							</div>
							<div class="col-sm-12">
								<label>审批说明 </label>
								<textarea class="form-control" rows="6" data-ng-model="temsigninfo.comment" placeholder="{{commmentTip}}" name="comment"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="panel-footer text-right bg-light lter">
				<button class="btn btn-success" type="submit" ng-click="pass()" ng-show="passshow == 1" >{{passButton}}</button>
				<button class="btn btn-primary" type="button" ng-click="reapply()" ng-show="reapplyshow == 1" >{{reapplyButton}}</button>
				<button class="btn btn-danger" type="button" ng-click="reject()" ng-show="rejectshow == 1" >{{rejectButton}}</button>
				<button class="btn btn-warning" type="button" ng-click="close()">关  闭</button>
			</footer>
		</form>
	</div>
</script>