<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h4">{{formTitle}}</span>
        <button class="pull-right" type="button" ng-click="datacompletion()" tooltip="补全选中的资料"><i class="fa fa-file-zip-o"></i></button>
    </div>
     <div class="panel-body">
            <div class="form-group pull-in clearfix">
                <!--显示所有的档案类型-->
                <div class="col-md-3 col-xs-6"  ng-repeat="customerImageType in customerImageTypes">
                    <div class="thumbnail" tooltip="{{customerImageType.name}}">

                            <span class="pos-abt pull-right-xs">
                                                <label class="i-checks m-b-none">
                                                    <input type="checkbox" ng-model="customerImageType.selected" /><i></i>
                                                </label>
                                            </span>
                            <!--如果该档案类型已经上传过图片-->
                            <div ng-show="customerImageType.customerImage != null && customerImageType.customerImage.fileIds != null && customerImageType.customerImage.fileIds.length > 0 ">


                                <!--显示审核意见的个数-->

                                <!--只显示第一张图片做为封面-->
                                <!--其它图片用lightbox打开，进行轮播-->
                                <element ng-if="isVideo(customerImageType)">
                                    <video style="width:100%;height:160px;" controls="controls" src="{{customerImageType.customerImage.coverFileId|imgsrc}}"/>
                                </element>

                                <element ng-if="isPDF(customerImageType)">
                                    <a ng-click="viewPDF(customerImageType.customerImage.coverFileId)">
                                        <img ng-src="img/pdf.png" class="img-responsive" style="height:160px;" />
                                    </a>
                                </element>

                                <a ng-click="openViewer(customerImageType)" ng-if="!isVideo(customerImageType) && !isPDF(customerImageType)">
                                    <img ng-src="{{customerImageType.customerImage.coverFileId|imgsrc}}" class="img-responsive" style="height:160px;" />
                                </a>

                            </div>
                            <!--如果该档案类型没有上传过图片，显示默认图片-->
                            <div ng-show="customerImageType.customerImage == null || customerImageType.customerImage.fileIds == null || customerImageType.customerImage.fileIds.length ==0">
                                <!--加载该档案类型下的所有图片-->
                                <!--只显示第一张图片做为封面-->
                                <!--其它图片用lightbox打开，进行轮播-->
                                <a><img ng-src="img/p0.jpg" class="img-responsive" style="height:160px;"/></a>
                            </div>
                            <div class="caption bg-white-opacity text-center text-ellipsis">
                                <!--显示档案类型的名称-->
                                {{customerImageType.name}}
                            </div>
                        </div>
                    </div>
            </div>
     </div>
</div>
<div class="hidden" id="customerImages">
    <element ng-repeat="fileId in customerImage.fileIds">
        <img data-original="{{fileId|imgsrc}}" ng-src="{{fileId|imgsrc}}" alt="{{type.name}}"/>
    </element>
    <img ng-src="img/p0.jpg" class="img-responsive img-placeholder"/>
</div>