<div class="panel panel-default m-b-none">
    <div class="panel-heading">
        <span class="h4">{{modalTitle}}</span>
    </div>
    <form name="userForm" class="form-validation">
        <div class="panel-body">
            <div class="col-lg-12">
                <div class="form-group pull-in clearfix">
                    <label>用户名/手机号</label>
                    <input class="form-control"
                           placeholder="请输入用户名/手机号" ng-model="user.username"
                           type="text" name="username" required>
                    <span ng-show="userForm.username.$dirty && userForm.username.$error.required" class="help-block text-danger">请输入查询条件!</span>
                </div>
            </div>
        </div>

        <footer class="panel-footer text-right bg-light lter">
            <button class="btn btn-success" type="submit" ng-disabled="userForm.$invalid" ng-click="doQuery(user)">查  询</button>
            <button class="btn btn-primary" type="button" ng-click="clearQuery()">清  除</button>
            <button class="btn btn-warning" type="button" ng-click="close()">关  闭</button>
        </footer>
    </form>

</div>


