<div class="hbox hbox-auto-xs bg-light ">
    <div class="col lter b-l">
        <div class="vbox">
            <div class="wrapper b-b b-light">
                <div class="font-thin h4">{{tableTitle}}</div>
            </div>

            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="row padder-v m-n">
                            <div class="col-sm-4 m-b-xs">
                                <input type="text" class="input-sm form-control" placeholder="过滤：请输入过滤条件" ng-model="query">
                            </div>
                            <div class="col-sm-8 m-b-xs text-right ">
                                <a role="button" class="btn btn-sm btn-primary" data-toggle="modal" ng-click="edit('')" ng-show="!isReferenceDialog"> 添加 </a>
                            </div>
                        </div>

                        <table class="table table-striped b-t b-light m-b-none">
                            <thead>
                            <th data-toggle="true">
                                编码
                            </th>
                            <th>
                                名称
                            </th>
                            <th>
                                模版
                            </th>
                            <th>
                                生成格式
                            </th>
                            <th>
                                数据状态
                            </th>

                            <th>操作</th>
                            </thead>
                            <tbody >
                            <tr ng-repeat="document in documents|filter:query|orderBy:'code':false" ng-class="{true:'danger'}[document.dataStatus == 9]">
                                <td>{{document.code}}</td>
                                <td>{{document.name}}</td>
                                <td><document-templateobject-info ng-if="document.templateObjectId !== undefined" id="document.templateObjectId"></document-templateobject-info></td>
                                <td>{{document.fileType}}</td>
                                <td>{{document.dataStatus|dataStatusFilter}}</td>
                                <td>
                                    <div class="btn-group dropdown" dropdown>
                                        <button class="btn btn-xs btn-success" dropdown-toggle>操作<span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="green" role="button" data-toggle="modal" ng-click="edit(document)" ng-show="document.dataStatus != 9 && document.id != null ">
                                                    编辑
                                                </a>
                                            </li>
                                            <li>
                                                <!--启用-->
                                                <a ng-if="document.dataStatus == 9" role="button" data-toggle="modal" ng-click="renew(document, $index)" ng-show="document.dataStatus == 9 && document.id != null ">
                                                    启用
                                                </a>
                                            </li>
                                            <li>
                                                <a class="red" href ng-click="delete(document, $index)" ng-show="document.dataStatus != 9 && document.id != null ">
                                                    作废
                                                </a>
                                            </li>
                                            <li>
                                                <a class="red" href ng-click="delete(document, $index)" ng-show="document.dataStatus == 9 && document.id != null ">
                                                    删除
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="m-n b-t b-light row lt">
                <div class="col-sm-4 text-left">
                    <ul class="pagination ng-isolate-scope ng-valid">当前页：{{currentPage}}，总计{{totalPages}}页</ul>
                </div>
                <div class="col-sm-8 text-right">
                    <pagination max-size="10" more="true"  boundary-links="true" first-text="首页" last-text="尾页"   ng-change="changePage()"  ng-model="currentPage" items-per-page="pageSize" total-items="totalItems"  previous-text="上一页" next-text="下一页"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<!---->




<!------输入对话框------>
<script type="text/ng-template" id="contractModal.html">
    <div class="panel panel-default m-b-none">
        <div class="panel-heading">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
            <span class="h4">{{modalTitle}}</span>
        </div>
        <div class="panel-body">
            <form name="userForm" class="form-validation">
                <div class="form-group">
                    <label class="control-label">编码</label>
                    <input type="text" class="form-control" placeholder="请输入文档模板编码"
                           ng-model="document.code" ng-model-options="{updateOn: 'blur'}"
                           ng-pattern="/^[a-zA-Z0-9]{3,}$/"
                           ui-validate-async="{notUnique: 'checkUnique(\'code\', $value)'}"
                           name="code" required >
                    <span ng-show="userForm.code.$dirty && userForm.code.$error.required" class="help-block text-danger">合同编码是必须的!</span>
                    <span ng-show="userForm.code.$dirty && userForm.code.$error.notUnique" class="help-block text-danger">合同编码不能重复！</span>
                    <span ng-show="userForm.code.$dirty && userForm.code.$error.pattern" class="help-block text-danger">合同编码必须是为数字或字母且最小3位，如001!</span>
                </div>

                <div class="form-group">
                    <label class="control-label">名称</label>
                    <input type="text" class="form-control" placeholder="请输入文档模板名称"
                           ng-model="document.name" ng-model-options="{updateOn: 'blur'}"
                           ui-validate-async="{notUnique: 'checkUnique(\'name\', $value)'}"
                           name="name" required >
                    <span ng-show="userForm.name.$dirty && userForm.name.$error.required" class="help-block text-danger">合同名称是必须的!</span>
                    <span ng-show="userForm.name.$dirty && userForm.name.$error.notUnique" class="help-block text-danger">合同名称不能重复！</span>
                </div>

                <div class="form-group">
                    <label class="control-label">模板</label>
                    <ui-select ng-model="document.templateObjectId" name="templateObjectId" theme="bootstrap" ng-disabled="disabled">
                        <ui-select-match  placeholder="请选择文档模板" >{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="templateObject.id as templateObject in templateObjects | filter: $select.search">
                            <div ng-bind-html="templateObject.name"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="form-group">
                    <label class="control-label">编号规则</label>
                    <input type="text" class="form-control" placeholder="请输入文档编号规则"
                           ng-model="document.codeRule"
                           name="templateName" required >
                    <span ng-show="userForm.templateName.$dirty && userForm.templateName.$error.required" class="help-block text-danger">合同编号规则是必须的!</span>
                </div>

                <div class="form-group">
                    <label class="control-label">需求方</label>
                    <div>
                        <ui-select multiple ng-model="document.contractingParties" theme="bootstrap" ng-disabled="disabled">
                            <ui-select-match placeholder="请选择文档需求方">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="contractingParties.id as contractingParties in contractings">
                                <div ng-bind-html="contractingParties.name "></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">生成格式</label>
                    <div>
                        <ui-select ng-model="document.fileType" theme="bootstrap" ng-disabled="disabled">
                            <ui-select-match placeholder="请选择生成格式">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="contractingParties.id as contractingParties in types">
                                <div ng-bind-html="contractingParties.name "></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="form-group">
                    <label>关联档案资料</label>
                    <ui-select multiple sortable="true" ng-model="document.imageTypeCodes" name="imageTypeCodes" theme="bootstrap">
                        <ui-select-match  placeholder="请选择资料类型" >{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="customerimagetype.code as customerimagetype in customerimagetypes | filter: $select.search">
                            <div ng-bind-html="customerimagetype.name "></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </form>
        </div>
        <footer class="panel-footer text-right bg-light lter">
            <button class="btn btn-primary" type="submit" ng-disabled="!userForm.$valid" ng-click="save()">保 存</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取 消</button>
        </footer>
    </div>
</script>
